Options -Indexes
RewriteEngine On

# Redirect requests for .php and .html files without the extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Error Documents
ErrorDocument 403 /error_message/error403.html
ErrorDocument 404 /error_message/error404.html
ErrorDocument 500 /error_message/error500.html